data/banned/*.*
data/config.json
data/config.py
data/config*
data/cookies/
data/tags.json
data/tvdb/
data/web_ui/*.*
data/web_ui/templates/*.html
data/web_ui/static/js/*.js
data/web_ui/*.py
requirements.txt
docker-compose.yml
Dockerfile
bin/mkbrr/*
bin/bdinfo/*
*.mkv
.vscode/
__pycache__/
tmp/*
.wdm/
.DS_Store
user-args.json
/.vs
data/nfos/*
data/*.json
.venv/*
venv/*
.pyright
web_ui/static/js/node_modules/
