aiofiles==25.1.0
aiohttp==3.13.3
anitopy==2.1.1
argon2-cffi==25.1.0
babel==2.17.0
bbcode==1.1.0
beautifulsoup4==4.14.3
bencode.py==4.0.0
cli-ui==0.19.0
click==8.1.8
cloudscraper==1.2.71
cryptography==46.0.5
defusedxml==0.7.1
deluge-client==1.10.2
discord.py==2.6.4
ffmpeg-python==0.2.0
flask==3.1.2
flask-cors==6.0.2
Flask-Limiter==3.11.0
Flask-Session==0.8.0
cachelib==0.13.0
guessit==3.8.0
httpx==0.28.1
Jinja2==3.1.6
keyring==25.7.0
langcodes==3.5.1
language-data==1.4.0
lxml==6.0.2
nest_asyncio==1.6.0
packaging<25,>=21
Pillow==11.3.0
psutil==7.2.2
pycountry==24.6.1
pyimgbox==1.0.7
pymediainfo==7.0.1
pyotp==2.9.0
qbittorrent-api==2025.11.1
regex==2025.11.3
requests==2.32.5
rich==13.9.4
setuptools==80.10.2
tmdbsimple==2.9.1
torf==4.3.1
tqdm==4.67.3
transmission_rpc==7.0.11
tvdb-v4-official==1.1.0
unidecode==1.4.0
urllib3==2.6.3
waitress==3.0.2
